body {
    font-family: sans-serif;
}

.empty-shopping-cart {
    color: red;
}

.content {
    background-color: rgb(255, 115, 1);
    box-shadow: 15px 15px 15px black ;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.options ul {
    list-style: none;
}

.options ul li {
    margin: 10px;
}

.toggleMenu-header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 15px;
    top: 10px;
    right: 10px;
    z-index: 10;
    border-radius: 50px;
    background-color: #8686866c;
}

.menu-icon {
    font-size: 48px;
    cursor: pointer;
}

.menu-container {
    padding-top: 50px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: #fff;
    box-shadow: -1px 0px 7px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.close-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 48px;
    cursor: pointer;
}

.menu {
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}

.menu-open {
    transform: translateX(0);
}

.incDec-button-container {
    display: flex;
    margin-top: 5px;
}

.increase-button, .decrease-button {
    width: 25px;
    height: 25px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.increase-button {
    background-color: rgb(0, 169, 0);
    color: white;
}

.decrease-button {
    background-color: rgb(1, 1, 164);
    color: white;
}

.decrease-button:hover, .increase-button:hover {
    opacity: 0.8;
}